body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.container {
  display: flex;
  margin: auto;
  justify-content: center;
}

.ranSettings{
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 25px;
  
}

 .pulse::before{
      animation: pulse-animation 3s ease-out infinite;
 }